

.rc-tree-list {
  --rc-indent-size: 16px;
  --rc-drop-bg-color: rgb(147 197 253);
  --rc-line-color: #d9d9d9;
  --rc-node-height: 32px;
  --rc-node-hover-bg: hsl(var(--sidebar-accent));
  --rc-node-hover-color: hsl(var(--sidebar-accent-foreground));
  --rc-node-focus-bg: rgb(239 246 255);
}

.rc-tree-treenode {
  display: flex;
  align-items: center;
  padding-left: var(--rc-indent-size);
  height: var(--rc-node-height);
}

.rc-tree-treenode:hover {
  background-color: var(--rc-node-hover-bg);
  color: var(--rc-node-hover-color);
}

.rc-tree-treenode:focus {
  background-color: var(--rc-node-focus-bg);
}

.rc-tree-indent {
  display: flex;
  height: var(--rc-node-height);
}

.rc-tree-indent-unit {
  width: var(--rc-indent-size);
  display: inline-block;
  position: relative;
}

.rc-tree-list .rc-tree-indent-unit::before {
  content: " ";
  background-color: var(--rc-line-color);
  height: var(--rc-node-height);
  width: 1px;
  display: block;
  position: absolute;
  top: 1px;
  z-index: 0;
}

.rc-tree-node-content-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.rc-tree .rc-tree-treenode.drop-container ~ .rc-tree-treenode {
  background-color: var(--rc-drop-bg-color);
}

.rc-tree .rc-tree-treenode.drop-target ~ .rc-tree-treenode {
  background-color: transparent;
}

.rc-tree .rc-tree-treenode.drop-target {
  background-color: var(--rc-drop-bg-color);
}

.rc-tree-title {
  width: 100%;
}

.rc-tree .rc-tree-treenode .rc-tree-node-content-wrapper {
  position: relative;
}
