.editor-container {
    --affine-editor-bottom-padding: 100px;
    --affine-editor-side-padding: 1.5rem;

    height: 100%;
}

.editor-container.size-full {
    --affine-editor-width: 100%;
}

.editor-container.size-75 {
    --affine-editor-width: 75%;
}

.editor-container.size-50 {
    --affine-editor-width: 50%;
}

.affine-page-viewport {
    position: relative;
}
